target/
build/
*.class
*.jar
*.war
*.ear


.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/


.DS_Store
Thumbs.db


*.log
log/


.mvn/wrapper/maven-wrapper.jar
.gradle/
!gradle/wrapper/gradle-wrapper.jar # Keep the wrapper script but ignore the downloaded jar